name: Build Host Image

on:
  workflow_dispatch:
    inputs:
      host:
        description: 'Host to build image for'
        required: true
        default: 'bud-lite'
        type: choice
        options:
          - bud-lite
          - johnny-walker

jobs:
  build-image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: cachix/install-nix-action@08dcb3a5e62fa31e2da3d490afc4176ef55ecd72 # v30
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          extra_nix_config: |
            accept-flake-config = true
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}

      - name: Build ${{ inputs.host }} Image
        run: nix build .#${{ inputs.host }}-image

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.host }}-image
          path: result/*
          if-no-files-found: error
