name: Build Host Image

on:
  workflow_dispatch:
    inputs:
      host:
        description: 'Host to build image for'
        required: true
        default: 'johnny-walker'
        type: choice
        options:
          - johnny-walker

jobs:
  build-image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v27
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          extra_nix_config: |
            accept-flake-config = true
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}

      - name: Build ${{ inputs.host }} Image
        run: nix build .#${{ inputs.host }}-image

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.host }}-image
          path: result/*
          if-no-files-found: error
