name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v30
      with:
        nix_path: nixpkgs=channel:nixos-unstable
    
    - name: Flake Check
      run: nix flake check
    
    - name: Build classic-laddie (Dry Run)
      run: nix build .#nixosConfigurations.classic-laddie.config.system.build.toplevel --dry-run
